@font-face {
    font-family: 'Rubik';
    src: url('./Rubik-VariableFont_wght.ttf');
}

body {
    margin:0;
    padding:0;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    max-height: 100%;
    font-size: 18px;
    overflow: hidden;
    display:flex;
    justify-content: center;
    align-items: start;
    font-family: 'Rubik';
    @media (max-width:850px) {
        font-size: 10px;
    }
}


.bg {
    position: absolute;
    margin:0;
    padding:0;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box;
}

.bg-image {
    background-image:url("./images/pattern-bg-desktop.png");
    background-position: center;
    background-size: cover;
    height:35.5vh;
    width:100%;
    margin:0;
    padding:0;
}

.bg-map {
    width:100%;
    height:65.5vh;
    margin:0;
    padding:0;
    z-index:0;
    bottom:1.3%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    width: 100vw;
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box;
    z-index:1;
    margin:0;
    padding:0;
}

.title {
    margin-top:1.5rem;
    color:white;
}

.search-bar {
    margin-top:0.5rem;
    width: 550px;
    max-width: 90%;
    min-height: 3rem;
    background-color: white;
    color:gray;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

#ip-search {
    width:90%;
    height:100%;
    font-size: 1.2rem;
    border:none;
    outline:none;
    justify-content: center;
    margin-left:0.5rem;
    @media (max-width:850px) {
        font-size:0.8rem;
    }
}

.ip-submit {
    width:10%;
    min-height: 3rem;
    border-bottom-right-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background-color: black;
    color:white;
    border:none;
    outline:none;
    cursor:pointer;
}

.details {
    margin-top:3rem;
    background-color: white;
    border-radius: 1rem;
    /* padding-inline:3rem; */
    padding-block:1rem;
    width:1100px;
    max-width: 80%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    @media (max-width:850px) {
        margin-top:2rem;
        /* padding-inline:1rem; */
        padding-block:0.5rem;
        flex-direction: column;
        align-items: center;
        width:500px;
        max-width:90%;
    }
}

.detail {
    display: block;
    width:20%;
    margin-inline: 2rem;
    min-height:130px;
    @media (max-width:850px) {
        width:100%;
        margin-inline:0rem;
        min-height:50px;
        text-align: center;
    }
}

.sub-desc {
    font-weight: 500;
    color:hsl(0, 0%, 59%);
    letter-spacing: 0.2rem;
    font-size: 1rem;
    @media (max-width:850px) {
        font-size:0.5rem;
    }
}

.desc {
    font-size:1.5rem;
    margin:0;
    padding:0;
    white-space: pre-wrap;
    font-weight: 700;
}

hr {
    text-align: center;
    opacity:0.5;
    margin:0;
    @media (max-width:850px) {
        width:90%;
    }
}
.attribution { 
    position:absolute;
    bottom:2%;
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}